[submodule "neighborhood"]
	path = neighborhood
	url = /home/luca/github/neighborhood
[submodule "identities"]
	path = identities
	url = /home/luca/github/identities
[submodule "qspn"]
	path = qspn
	url = /home/luca/github/qspn
[submodule "coordinator"]
	path = coordinator
	url = /home/luca/github/coordinator
[submodule "hooking"]
	path = hooking
	url = /home/luca/github/hooking
